<html>
  <head></head>
  <body>
    Hi {{name}}
    <br />
    <br />
    You have requested a {{subject}}. Please use following code to complete the action. Please note this link is only valid for the next hour.<br />

     <div style="line-height: 100%">
        <a href="{{url}}" class="hover-bg-primary-light" style="text-decoration: none; display: inline-block; border-radius: 4px; background-color: #55b9f3; padding-top: 14px; padding-bottom: 14px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 16px; font-weight: 600; color: #fff">
         Reset Password
        </a>
    </div>
    <br />
    <p>
      If you haven't requested the code please ignore the email.                               
    </p>
    <p>
      Thank you!                               
    </p>
  </body>
</html>


