apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init.sql: |
    -- Create databases
    CREATE DATABASE {{AUTH_DB_NAME}};
    CREATE DATABASE {{JET_DB_NAME}};
    CREATE DATABASE {{HOTEL_DB_NAME}};

    -- Create users and grant privileges
    CREATE USER "{{AUTH_DB_USER}}" WITH ENCRYPTED PASSWORD '${PASSWORDE}';
    GRANT ALL PRIVILEGES ON DATABASE {{AUTH_DB_NAME}} TO "{{AUTH_DB_USER}}";
    ALTER USER "{{AUTH_DB_USER}}" WITH CREATEDB;
    GRANT ALL PRIVILEGES ON SCHEMA public TO {{AUTH_DB_USER}};

    -- Create users and grant privileges
    CREATE USER "{{JET_DB_USER}}" WITH ENCRYPTED PASSWORD '${PASSWORDE}';
    GRANT ALL PRIVILEGES ON DATABASE {{JET_DB_NAME}} TO "{{JET_DB_USER}}";
    ALTER USER "{{JET_DB_USER}}" WITH CREATEDB;
    GRANT ALL PRIVILEGES ON SCHEMA public TO {{JET_DB_USER}};

    -- Create users and grant privileges
    CREATE USER "{{HOTEL_DB_USER}}" WITH ENCRYPTED PASSWORD '${PASSWORDE}';
    GRANT ALL PRIVILEGES ON DATABASE {{HOTEL_DB_NAME}} TO "{{HOTEL_DB_USER}}";
    ALTER USER "{{HOTEL_DB_USER}}" WITH CREATEDB;
    GRANT ALL PRIVILEGES ON SCHEMA public TO {{HOTEL_DB_USER}};

    -- -- init.sql
